.card {
    font-size: 12px;
}

.spinner-border {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  z-index: 1;
}

.spinner-border.hidden{
  display: none;
}

.modal-content {
  background: red;
  color: #fff;
}

.modal-header {
  border-bottom: 0px;
}

.close {
  color: #fff;
  opacity: 2;
}


/* style nav */

/* Add a black background color to the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: black;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
 opacity: 0.5;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
 
  color: white;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

.search {
  outline: none;
  border-radius: 5px;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}

.is-hidden {
  display: none;
}