.card {
    font-size: 12px;
}

.spinner-border {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  z-index: 1;
}

.spinner-border.hidden{
  display: none;
}

.modal-content {
  background: red;
  color: #fff;
}

.modal-header {
  border-bottom: 0px;
}

.close {
  color: #fff;
  opacity: 2;
}

